.container{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    padding-top: 90px;
}
.col{
    width: 40%;
}
.logo img{
    width: 200px;
}
.login-box{
    width: 80%;
    text-align: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
}
.inps{
    padding: 6px;
}
input{
    width: 80%;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    padding: 14px 16px;
    background: #FFFFFF
}
.login-box hr{
    width: 90%;
}
.login-btn{
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 85%;
    color: white;
}
.account-btn{
    background-color:#42b72a;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 50%;
    color: white;
}
button{
    margin-top: 15px;
}
.firstLine{
    display: inline-flex;

}
.form input{
    margin: 15px;
} 
.form{
    text-align: center;
}